  <!--Listar productos en tabla-->
  <div class="container">
    <div class="starter-template">
      <div class="row">
        <div class="col-md-12 mt-5">
          <h3>Listado de productos</h3>   
          <hr>
            <table class="table table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <p *ngIf="productos.length < 1" >No hay productos registrados.</p>
                <tr *ngFor="let producto of productos">
                  <th scope="row"></th>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.precio}}</td>
                  <td>{{producto.stock}}</td>
                  <td>{{producto.estado}}</td>
                  <td>
                      <button class="btn btn-success" (click)="actualizar(producto)">Editar</button>&nbsp;                     
                      <button class="btn btn-danger" (click)="eliminar(producto.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
