/* You can add global styles to this file, and also import other style files */
.row{
    display: flex;
}
.col{ 
    flex-grow: 1;
    margin-right: 10px;
}
input{
    display: block;
    margin: 5px;
}
button{
    display: block;
    margin: 5px;
}